.cardContainer {
  width: 20.4rem;
  height: 19.9rem;
  position: relative;
}

.imgFood {
  width: 20.4rem;
  height: 13.25rem;
}

.addToCartBtn {
  position: absolute;
  left: 5.2rem;
  top: 11.8rem;
  width: 10rem;
  height: 2.75rem;
  border-radius: 62rem;
  border: 1px solid var(--rose400);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.cartIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.txtContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.categoryTxt {
  color: var(--rose500);
  font-size: 0.875rem;
  font-weight: 400;
}
.nameTxt {
  color: var(--rose900);
  font-size: 1rem;
  font-weight: 600;
}
.priceTxt {
  color: var(--red);
  font-size: 1rem;
  font-weight: 600;
}

.quantityBtn {
  position: absolute;
  left: 5.2rem;
  top: 11.8rem;
  width: 10rem;
  height: 2.75rem;
  border-radius: 62rem;
  border: 1px solid var(--rose400);
  background-color: var(--red);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.minusIconBtn,
.plusIconBtn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.quantity {
  color: white;
}
